

html{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.btns-list{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btns-list > div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}

.btns-list > div p{
    margin-right: 15px;
}

.grey{
    background-color: #707070!important;
}

.white{
    color: #000!important;
    background-color: #fff!important;
    border: 1px solid black!important;

}

.red{
    background-color: #ff2e2e!important;
}

.blue{
    background-color: #0000d8!important;
}

.green{
    background-color: #0cd664!important;
}

.yellow{
    background-color: #e3e723!important;

}


.btns-list button{
    background-color: #000000;
    border: none;
    padding: 1rem;
    margin-right: .5rem;
    color: #fff;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    margin-bottom: 2rem;
    cursor: pointer;
    margin: auto 8px;
}

.btns-list button:hover{
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
}

.imgs{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

